openai
pandas
streamlit
SQLAlchemy
PandaSQLite
python-dotenv
langchain
faiss-cpu
langchain-community
scikit-learn
tiktoken
PyPdf2
langchain-openai
python-dotenv
seaborn
pandasai
pandasai[excel]
pandasai[seaborn]
pandasai[plotly]
pandasai[statsmodels]
pandasai[scikit-learn]
pandasai[streamlit]
pandasai[langchain]
pandasai[numpy]